* {
    background-color: transparent;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Univers-next";
    src: url(./fonts/univers-next-pro-light.woff);
}

@font-face {
    font-family: "Graphik-Regular";
    src: url(./fonts/Graphik-Regular.woff);
}

@font-face {
    font-family: "Moderat-Regular";
    src: url(./fonts/Moderat-Regular.woff);
}

/* /////HEADER////// */

.nav li {
    display: inline-block;
    padding: 0 20px;
}

.nav {
    display: flex;
    font-family: 'Univers-next';
    font-size: 14px;
    text-decoration: none;
    background: inherit;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 3vw;

}

.mutual-aid-btn {
    color: #868686;
    margin-right: 20px;

}

.mutual-aid-btn:hover {
    color: #474747;
    transition: .4s ease;
}

#about {
    color: #afafaf;
}

#about:hover {
    color: #818181;
    transition: .4s ease;
}

#add {
    color: #afafaf;
}

#add:hover {
    color: #818181;
    transition: .4s ease;
}

/* /////INDEX////// */
.titleText {
    font-family: "Univers-next";
    font-size: 96px;
    color:rgba(178, 238, 119, 0.931);
    animation: transitionIn 1500ms ease-in;
}

.person-icon {
    border-radius: 315px;
    width: 575px;
}

.individual {
    text-align: center;
    margin-top: 85vh;
    height: 80vh; 
}

.individual-text {
    margin-top: 25px;
}

#individual-name {
    font-family: "Univers-next";
    font-size: 36px;

}

#individual-link {
    font-family: "Univers-next";
    color: #868686;
    font-size: 24px;
    padding: 10px;
    text-decoration: none;
}

#individual-link:hover {
    color: #474747;
    transition: .4s ease;
}

#individual-text {
    font-family: "Univers-next";
    font-size: 18px;
    padding: 0px 400px;
    margin: 5px;
    word-spacing: -0.025em;
    letter-spacing: 0.005em;
}



/* /////SHOW////// */
.show-container {
    display: flex;
    align-items: center;
    flex-basis: 100%;
    animation: transitionIn 1500ms ease;
}


.show-left {
    display: flex;
    margin-top: 5vh;
    margin-left: 15vw;

}

.show-right {
    font-family: "Univers-next";
    text-align: left;
    margin-top: 15vh;
    padding: 125px;
}

.show-name {
    margin-bottom: 20px;
    color: #868686;
}

.show-link {
    margin-bottom: 40px;
    color: #afafaf;
    font-size: 24px;
    text-decoration: none;
}

.show-link:hover {
    color: #818181;
    transition: .4s ease;
}

a:visited {
    text-decoration: none;
}

.show-text {
    font-size: 16px;
    margin-top: 5px;
}

.deleteButton {
    font-family: "Univers-next";
    margin-top: 85vh;
    margin-right: 3vw;
    width: 200px;
}

.show-icon {
    border-radius: 315px;
    width: 575px;
    object-fit: contain;
}



/* //// ADD //// */
.container {
    animation: transitionIn 1500ms ease;
}

.addForm {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30vh;
    margin-left: 34vw;
    width: 30%;
    height: 400px;
    padding: 215px;
    border: 1.75px solid #ccc;
    background: #fafafa;
    color: #000;
    box-sizing: border-box;
    border-radius: 2px;
}

.formTitle {
    display: flex;
    font-family: "Univers-next";
    text-align: left;
    margin-bottom: 30vh;
    margin-right: 25px;
}

.individualName {
    width: 250px;
    height: 25px;
    border-width: thin;
}

.individualImg {
    width: 250px;
    height: 25px;
    border-width: thin;
}

.donationLink {
    width: 250px;
    height: 25px;
    border-width: thin;
}

.submitButton {
    margin-left: 10vw;
    font-size: 12px;
}

textarea {
    font-family: "Univers-next";
    font-size: 14px;
    min-width: 250px;
    max-width: 250px;
    min-height: 175px;
    max-height: 175px;
    border-width: thin;
    margin: 5px;
}

input {
    font-family: "Univers-next";
    margin: 10px;
}

/* ////ABOUT//// */
.firstLineText {
    display: flex;
    font-family: "Univers-next";
    color:rgba(178, 238, 119, 0.931);
    font-size: 48px;
    margin-top: 22vh;
    margin-left: 5vw;
}

.secondLineText {
    display: flex;
    font-family: "Graphik-Regular";
    margin-left: 12vw;
    font-size: 38px;
}

.italicText {
    display: flex;
    font-size: 64px;
    color: #7C9082;
    margin-left: 40vw;
}

.fourthLineText {
    display: flex;
    font-family: "Univers-next";
    font-size: 28px;
    color: #433E0E;
    margin-left: 54vw;
}

.tributeText {
    display: flex;
    font-size: 14px;
    margin-top: 40vh;
    margin-left: 5vw;
    animation: transitionIn 3s;

}

.aboutPageText {
    animation: transitionIn 1.25s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}