* {
    background-color: transparent;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Univers-next";
    src: url(./fonts/univers-next-pro-light.woff);
}

.nav li {
    display: inline-block;
    padding: 0 20px;
}

.nav {
    display: flex;
    font-family: 'Univers-next';
    font-size: 14px;
    text-decoration: none;
    background: inherit;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 5vw;

}




.mutual-aid-btn {
    color: #868686;
    margin-right: 20px;

}

.mutual-aid-btn:hover {
    color: #474747;
    transition: .4s ease;
}

#about {
    color: #afafaf;
}

#about:hover {
    color: #818181;
    transition: .4s ease;
}

#add {
    color: #afafaf;
}

#add:hover {
    color: #818181;
    transition: .4s ease;
}

/* /////INDEX////// */
.person-icon {
    border-radius: 300px;
    width: 550px;
}



/* /////SHOW////// */
.person-show {
    display: flex;
    margin-top: 15vh;
}

.person-show > * {
    flex-basis: 100%;
}

.show-left {
    margin-left: 15vw;
}

.show-right {
    margin-right: 10vw;
    font-family: "Univers-next";
}

.show-icon {
    border-radius: 250px;
    width: 475px;
    object-fit: contain;
}

.show-name {
    margin-top: 25px;
    padding-bottom: 30px;
}

.show-link {
    padding-bottom: 30px;
}

